h1 {
    background: rgb(35, 118, 76);
}


div#zentai {
	display: grid;
	grid-gap: 10px;
}

div#zentai > div {
	padding: 5px;
	background-color: rgb(35, 118, 76, 0.5);
}




div#mannnaka {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

div#mannnaka > div {
	padding: 5px;
}





div#kakujyugyo {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	
}

div#kakujyugyo > div {
	padding: 5px;
	background-color: #ffefaf;
}